[buildout]

extends = buildout.cfg

[settings]
hostname = localhost
http-port = 8091
output-port = 8090
#log-level = WARN

## deployment options
#prefix =  /opt/birdhouse
#user = www-data
#etc-user = root

[pywps]
extra-options =
    archive_root=${settings:archive-root}
    persist_path=${settings:persist-path}
    thredds_url=http://${settings:hostname}:8093/thredds/fileServer/birdhouse/
